//Generates semi-sticky footer

html, body {
  height: 100%
}

body {
  background-color: $background-color-body;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.bodyWrapper {
  min-height: 100%;
  margin-bottom: -$footer-height - $footer-margin;
}

.bodyContainer {
  padding-bottom: $footer-height + $footer-margin;
  height: 100%;
  padding-top: $navbar-height + $navbar-margin;
}

footer {
  height: $footer-height;
  margin-top: $footer-margin;
}


:focus {
  outline: none;
}
