<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/static/favicon.ico" type="image/ico">
    <!-- build:css /static/stylesheets/vendor.min.css-->
    <link rel="stylesheet" href="/static/stylesheets/vendor.css" type="text/css">
    <!-- /build -->

    <!-- build:css /static/stylesheets/main.min.css-->
    <link rel="stylesheet" href="/static/stylesheets/main.css" type="text/css">
    <!-- /build -->

    <!--[if lte IE 8]>
    <script>window.ie8 = true;</script>
    <script src="/static/ie/ie8/html5shiv.js"></script>
    <script src="/static/ie/ie8/respond.min.js"></script>
    <script src="/static/ie/ie8/json2.js"></script>

    <![endif]-->

    <!--[if lte IE 9]>
    <script>window.ie8n9 = true;</script>
    <script src="/static/ie/ie8n9/es5-shim.min.js"></script>
    <![endif]-->

</head>
<body>
<noscript>
    For full functionality of this site it is necessary to enable JavaScript.
    Here are the <a href="http://www.enable-javascript.com/" target="_blank">
    instructions how to enable JavaScript in your web browser</a>.
</noscript>

<div class="bodyWrapper">
    <div class="bodyContainer">
        <div class="navbar navbar-fixed-top navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse">

                    <ul class="nav navbar-nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Our Experts</a></li>
                    </ul>

                    <button type="button" class="btn btn-success navbar-btn navbar-right">Send Application</button>
                </div>
            </div>
        </div>

        <div class="jumbotron jumbotron-main jumbo-bg-1 jumbo-bg-cover">
            <div class="container text-center">
                <h1>Lorem ipsum dolor.</h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, itaque.</p>

                <p><a class="btn btn-primary btn-lg " role="button">Learn more</a></p>
            </div>
        </div>

        <div class="container text-center section">
            <h1 class="section-header">Lorem ipsum dolor sit amet.</h1>

            <div class="row" style="margin-top: 40px">
                <div class="col-md-4 feature-item">
                    <i class="fa fa-5x fa-bookmark"></i><br>

                    <h3>Lorem ipsum.</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div>
                <div class="col-md-4 feature-item">
                    <i class="fa fa-5x fa-check"></i><br>

                    <h3>Lorem ipsum.</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div>
                <div class="col-md-4 feature-item">
                    <i class="fa fa-5x fa-paperclip"></i><br>

                    <h3>Lorem ipsum.</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div>
            </div>
        </div>

        <div class="container-fluid section jumbo-bg-2 jumbo-bg-cover section-inverse">
            <div class="container">
                <h1 class="section-header">Meet the Application Experts</h1>

                <div class="row">
                    <div class="col-md-5" style="margin-bottom: 50px">
                        <div class="row">
                            <div class="col-sm-4">
                                <img class="img-responsive img-circle"
                                     src="/static/images/founders/Lingke-profile-color.png">
                            </div>
                            <div class="col-sm-8">
                                <h3>Lingke Wang</h3>

                                <p class="font-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
                                    at consequatur cumque molestiae natus nobis optio quidem sit, veniam vero!</p>

                                <a class="btn btn-linkedin" href="http://www.linkedin.com/wlingke" target="_blank"><i class="fa fa-linkedin"></i> | LinkedIn Profile</a>
                            </div>
                        </div>
                        <hr>
                        <ul class="list-expanded">
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis inventore neque
                                repudiandae? Asperiores distinctio doloremque facere quisquam reiciendis temporibus
                                voluptatibus.
                            </li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis inventore neque
                                repudiandae? Asperiores distinctio doloremque facere quisquam reiciendis temporibus
                                voluptatibus.
                            </li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis inventore neque
                                repudiandae? Asperiores distinctio doloremque facere quisquam reiciendis temporibus
                                voluptatibus.
                            </li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis inventore neque
                                repudiandae? Asperiores distinctio doloremque facere quisquam reiciendis temporibus
                                voluptatibus.
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5 col-md-offset-2">
                        <div class="row">
                            <div class="col-sm-4">
                                <img class="img-responsive img-circle"
                                     src="/static/images/founders/Lingke-profile-color.png">
                            </div>
                            <div class="col-sm-8">
                                <h3>Lingke Wang</h3>

                                <p class="font-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
                                    at consequatur cumque molestiae natus nobis optio quidem sit, veniam vero!</p>
                                <a class="btn btn-linkedin" href="http://www.linkedin.com/wlingke" target="_blank"><i class="fa fa-linkedin"></i> | LinkedIn Profile</a>
                            </div>
                        </div>
                        <hr>
                        <ul class="list-expanded">
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis inventore neque
                                repudiandae? Asperiores distinctio doloremque facere quisquam reiciendis temporibus
                                voluptatibus.
                            </li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis inventore neque
                                repudiandae? Asperiores distinctio doloremque facere quisquam reiciendis temporibus
                                voluptatibus.
                            </li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis inventore neque
                                repudiandae? Asperiores distinctio doloremque facere quisquam reiciendis temporibus
                                voluptatibus.
                            </li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis inventore neque
                                repudiandae? Asperiores distinctio doloremque facere quisquam reiciendis temporibus
                                voluptatibus.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid section">
            <div class="container">

                <h2>Pricing:</h2>
                <p class="font-lg">$500 per school application</p>

                <h2>You will receive:</h2>
                <ul class="list-expanded list-unstyled">
                    <li><i class="fa fa-plus fa-fw text-success"></i> Essay grammar and formatting edits</li>
                    <li><i class="fa fa-plus fa-fw text-success"></i> Essay content recommendations</li>
                    <li><i class="fa fa-plus fa-fw text-success"></i> Short answer grammar and wording edits</li>
                    <li><i class="fa fa-plus fa-fw text-success"></i> Short answer content recommendations</li>
                    <li><i class="fa fa-plus fa-fw text-success"></i> Resume grammar and formatting edits</li>
                    <li><i class="fa fa-plus fa-fw text-success"></i> Resume content recommendations</li>
                    <li><i class="fa fa-plus fa-fw text-success"></i> Overall application recommendation on theme</li>
                </ul>

                <h2>Our Guarantees:</h2>
                <ul class="list-expanded list-unstyled">
                    <li><i class="fa fa-check fa-fw text-success"></i> Fully annotated application within <strong>3 business days of payment or it's free</strong></li>
                    <li><i class="fa fa-check fa-fw text-success"></i> If you aren't satisfied, let us know within 48 hours and we will send you a full refund</li>
                </ul>

                <div class="well well-lg font-lg" style="margin-top: 30px">

                    <h2 class="clear-mar-top">Get Feedback in Three Simple Steps:</h2>
                    <ul class="list-unstyled list-expanded" style="margin-bottom:25px">
                        <li><strong>Step 1:</strong> Email your applications to <a
                                href="mailto:applications@example.com"
                                target="_blank">applications@example.com</a>
                            (accepted formats: .doc, .docx, .pdf)
                        </li>
                        <li><strong>Step 2:</strong> We will email you a payment link. Once payment is confirmed, we
                            will
                            begin editing your application.
                        </li>
                        <li><strong>Step 3:</strong> You will receive a fully annotated application with
                            recommendations/edits within 48 hours.
                        </li>
                    </ul>

                    <div class="alert alert-danger">Please note that due to volume, **something here** (ob style)</div>

                    <a class="btn btn-success btn-lg" href="mailto:applications@example.com">Send Applications Now!</a>

                </div>
            </div>
        </div>
    </div>
</div>
<footer class="navbar navbar-default">
    <div class="container">
        <p class="navbar-text">Copyright COMPANY_NAME 2014</p>
    </div>
</footer>

<!-- build:js /static/js/aggregate.min.js -->
<script src="/static/js/vendor/jquery-1.11.1.js"></script>
<script src="/static/js/vendor/bootstrap.js"></script>
<script src="/static/js/core/main.js"></script>
<!-- /build -->

</body>
</html>