<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/static/favicon.ico" type="image/ico">
    <!-- build:css /static/stylesheets/vendor.min.css-->
    <link rel="stylesheet" href="/static/stylesheets/vendor.css" type="text/css">
    <!-- /build -->

    <!-- build:css /static/stylesheets/main.min.css-->
    <link rel="stylesheet" href="/static/stylesheets/main.css" type="text/css">
    <!-- /build -->

</head>
<body>
<noscript>
    For full functionality of this site it is necessary to enable JavaScript.
    Here are the <a href="http://www.enable-javascript.com/" target="_blank">
    instructions how to enable JavaScript in your web browser</a>.
</noscript>

<div class="bodyWrapper">
    <div class="bodyContainer">
        <div id="test"></div>
        <button type="button" class="btn btn-default">Hello</button>
    </div>
</div>

<!-- build:js /static/js/aggregate.min.js -->
<script src="/static/js/vendor/jquery-1.11.1.js"></script>
<script src="/static/js/vendor/bootstrap.js"></script>
<script src="/static/js/core/main.js"></script>
<!-- /build -->

</body>
</html>