//minimum breakpoints

$screen-phone: 480px;
$screen-tablet: 768px;
$screen-desktop: 992px;
$screen-lg-desktop: 1200px;

@mixin mq($type) {

  @if $type == tablet {
    @media (min-width: $screen-tablet) {
      @content;
    }
  } @else if $type == desktop {
    @media (min-width: $screen-desktop) {
      @content;
    }
  } @else if $type == lg-desktop {
    @media (min-width: $screen-lg-desktop) {
      @content;
    }
  } @else if $type == mobile-only {
    @media (max-width: $screen-tablet) {
      @content;
    }
  } @else if $type == tablet-and-below {
    @media (max-width: $screen-desktop) {
      @content;
    }
  } @else if $type == desktop-and-below {
    @media (max-width: $screen-lg-desktop) {
      @content;
    }
  }  @else {

  }
}